@import "../../../src//style/variables.scss";

.container {
  min-width: 390px;
  border: 1px solid $borderColor;
  border-radius: 10px 0px 0px 10px;
}
.titleContainer {
  border-top-left-radius: 10px;
  padding: 14.5px 20px;
  background: #f7f8fc;
  border-bottom: 1px solid $borderColor;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $titlesColor;
}

.rows {
  border-top: 1px solid $borderColor;
}

.row {
  height: 40px;
  &:not(:last-child) {
    border-bottom: 1px solid $borderColor;
  }
  &:last-child {
    border-bottom-left-radius: 10px;
  }
}
